<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjq.covid19.mapper.GetChinaDataMapper">

    <resultMap id="chinaMap" type="com.xjq.covid19.bean.EverydayData">
        <id column="dataId" property="date"></id>
        <result column="confirm" property="confirm"></result>
        <result column="infect" property="nofect"></result>
        <result column="dead" property="dead"></result>
        <result column="heal" property="heal"></result>
        <result column="importedCase" property="importCase"></result>
    </resultMap>
    <select id="getChinaEveryDayAdd" resultMap="chinaMap">
        SELECT dataId,confirm,infect,dead,heal,importedCase
        from chinaDayAdd
    </select>



    <select id="getChinaEveryDayTotal" resultMap="chinaMap">
        SELECT dataId,confirm,infect,dead,heal,importedCase
        from chinaHistoryData
    </select>



    <resultMap id="confirmTop" type="com.xjq.covid19.bean.PieData">
        <id column="provinceName" property="name"></id>
        <result column="confirm" property="value1"></result>
    </resultMap>
    <select id="getConfirmTopFive" resultMap="confirmTop">
        SELECT provinceName,confirm
        from provinceHistoryData
        where dateId = CURRENT_DATE-1
        ORDER BY confirm desc
        LIMIT 5;
    </select>



    <resultMap id="healTop" type="com.xjq.covid19.bean.PieData">
        <id column="provinceName" property="name"></id>
        <result column="healRate" property="value2"></result>
    </resultMap>
    <select id="getHealTopFive" resultMap="healTop">
        SELECT provinceName,healRate
        from provinceHistoryData
        where dateId = CURRENT_DATE-1
        ORDER BY healRate desc
        LIMIT 5;
    </select>


    <resultMap id="provMap" type="com.xjq.covid19.bean.ProvinceData">
        <id column="dateId" property="date"></id>
        <result column="confirm" property="confirm"></result>
        <result column="newConfirm" property="newConfirm"></result>
        <result column="dead" property="dead"></result>
        <result column="heal" property="heal"></result>
    </resultMap>
    <select id="getProvHistoryData" resultMap="provMap">
        SELECT dateId,confirm,newConfirm,dead,heal
        FROM provinceHistoryData
        WHERE provinceName=#{provinceName}
    </select>

</mapper>