<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title></title>


	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/wordVirus.css}"/>

</head>
<body>
<div id="mainDiv">
	<!-- 顶部图片 -->
	<div style="width: 100%;">
		<img src="../img/head1.jpg" style="width: 100%;" />
	</div>

	<div id="nav">
		<ul class="nav nav-pills">
			<li role="presentation"><a  th:href="@{/covid19}">国内疫情</a></li>
			<li role="presentation" class="active"><a th:href="@{/nav/wordVirus}">国外疫情</a></li>
			<li role="presentation"><a th:href="@{/nav/realMsg}">实时播报</a></li>
			<li role="presentation"><a th:href="@{/nav/virusKp}">疫情科普</a></li>
			<li role="presentation"><a th:href="@{/nav/track}">行程轨迹</a></li>
			<li role="presentation"><a th:href="@{/nav/nearbyMap}">周边疫情</a></li>
		</ul>
	</div>
	<div id="ChinaRealDataDiv">
		<div id="crd-title">
			<font size="6" color="">海外疫情实时数据</font>
		</div>
		<div id="updateTime">
			<font size="4" color="#666666">截至北京时间 2020-12-26 16:46:00</font>
		</div>
		<div id="ChinaRealData">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 row-data row-border">
					<div id="nowConfirm">
						<b>&nbsp;&nbsp;&nbsp;较昨日<em th:text="${wordData.nowConfirmInc}" style="color: rgb(247, 76, 49);">-51</em></b><br />
						<font size="6" color="#FF6600;" th:text="${wordData.nowConfirm}"><strong>1489</strong></font><br />
						<b>&nbsp;&nbsp;&nbsp;现存确诊</b>
					</div>

				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 row-data row-border">
					<div id="importCase">
						<b>&nbsp;&nbsp;&nbsp;较昨日<em th:text="${wordData.confirmInc}" style="color: rgb(247, 130, 7);">-51</em></b><br />
						<font size="6" color="#FFA500" th:text="${wordData.confirm}"><b>1489</b></font><br />
						<b>&nbsp;&nbsp;&nbsp;累计确诊</b>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 row-data row-border">
					<div id="noInfect">
						<b>&nbsp;&nbsp;&nbsp;较昨日<em th:text="${wordData.healInc}" style="color: rgb(162, 90, 78);">-51</em></b><br />
						<font size="6" color="#990000;" th:text="${wordData.heal}"><b>1489</b></font><br />
						<b>&nbsp;治愈人数</b>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 row-data">
					<div id="suspect">
						<b>&nbsp;&nbsp;&nbsp;较昨日<em th:text="${wordData.deadInc}" style="color: rgb(162, 90, 78);">-51</em></b><br />
						<font size="6" color="#CC00FF;" th:text="${wordData.dead}"><b>1489</b></font><br />
						<b>&nbsp;&nbsp;&nbsp;死亡人数</b>
					</div>
				</div>
			</div>


		</div>
	</div>
	<hr />
	<p><i></i>海外疫情地图</p>

	<div class="mapDiv">
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<a href="#" class="btn btn-default  active" role="button">现存确诊</a>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<a href="#" class="btn btn-default" role="button">累计确诊</a>
			</div>
		</div>
		<div id="" class="mapBox">
			<div id="chinaMap" class="mapPanal">
			</div>
		</div>
	</div>

	<p><i></i>世界疫情趋势</p>
	<div class="lineDiv">
		<div class="lineBox">
			<div id="confirm">

			</div>
			<div id="heal">

			</div>
			<div id="dead">

			</div>
			<div id="rate">

			</div>
		</div>

	</div>
	<p><i></i>世界疫情展示</p>
	<div id="provinceData">
		<table border="1"  style="width:100%;font-size: 20px;">
			<tr>
				<th>地区</th>
				<th>现存确诊</th>
				<th>累计确诊</th>
				<th>新增确诊</th>
				<th>治愈人数</th>
				<th>死亡人数</th>
			</tr>
			<tr th:each="country:${countrysData}">
				<td th:text="${country.countryName}">Data</td>
				<td th:text="${country.nowConfirm}">Data</td>
				<td th:text="${country.confirm}">Data</td>
				<td th:text="${country.confirmAdd}"></td>
				<td th:text="${country.heal}">Data</td>
				<td th:text="${country.dead}">Data</td>
			</tr>
		</table>
	</div>
</div>





<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/flexible.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:src="@{/js/world.js}"></script>
<script th:src="@{/js/wordVirus.js}"></script>
</body>
</html>
